flow.json
[
    {
        "id": "d613c00e45247162",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c4b6990d00587f9d",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "58f8e0ccd3eadd44",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3a85a01360579e54",
        "type": "inject",
        "z": "d613c00e45247162",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "42a7ee24175bbdde",
        "type": "debug",
        "z": "d613c00e45247162",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 160,
        "wires": []
    },
    {
        "id": "2d0699b5fff33237",
        "type": "complete",
        "z": "c4b6990d00587f9d",
        "name": "",
        "scope": [],
        "uncaught": false,
        "x": 410,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "26cc84959ebe0d96",
        "type": "function",
        "z": "58f8e0ccd3eadd44",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 260,
        "wires": [
            []
        ]
    }
]